<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850792352893-t9i0i3u9llue626l1f3stfisg93fstfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850792352893-t9i0i3u9llue626l1f3stfisg93fstfs</string>
	<key>API_KEY</key>
	<string>AIzaSyBl9vHW_97v4zApSOH9SqnBNiskYwaTr80</string>
	<key>GCM_SENDER_ID</key>
	<string>850792352893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kate.BookMapProject</string>
	<key>PROJECT_ID</key>
	<string>booktrip-9223d</string>
	<key>STORAGE_BUCKET</key>
	<string>booktrip-9223d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850792352893:ios:5b4e6fafa6403cab753514</string>
</dict>
</plist>